# 5. Sequences: Lists and Tuples

### Objectives 
In this chapter, you’ll:
* Create and initialize lists and tuples.
* Refer to elements of lists, tuples and strings.
* Sort and search lists, and search tuples. 
* Pass lists and tuples to functions and methods.

### Objectives (cont.)
* Use list methods to perform common manipulations, such as searching for items, sorting a list, inserting items and removing items.
* Use additional Python functional-style programming capabilities, including lambdas and the operations filter, map and reduce.

### Objectives (cont.)
* Use functional-style list comprehensions to create lists quickly and easily, and use generator expressions to generate values on demand.
* Use two-dimensional lists.
* Enhance your analysis and presentation skills with the Seaborn and Matplotlib visualization libraries.

# 5.1 Introduction
* **Collections** are prepackaged data structures consisting of related data items. 
* Examples of collections:
    * Favorite songs on your smartphone
    * Contacts list
    * A library’s books
    * Cards in a card game
    * Favorite sports team’s players
    * Stocks in an investment portfolio
    * Patients in a cancer study 
    * Shopping list. 
* Lists (which are modifiable) and tuples (which are not) have many common capabilities. 
* Each can hold items of the same or different types. 
* Lists can **dynamically resize** as necessary.
* The Intro to Data Science section uses the visualization libraries Seaborn and Matplotlib to interactively develop static bar charts containing the die frequencies.

# 5.2 Lists
* Many of the capabilities shown in this section apply to all sequence types.

### Creating a List
* **Lists** typically store **homogeneous data**, but may store **heterogeneous data**.

In [1]:
c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

### Accessing Elements of a List
* Reference a list element by writing the list’s name followed by the element’s **index** enclosed in `[]` (the **subscription operator**).

![Diagram of a list named c labeled with its element names](ch05images/AAEMYRO0.png "Diagram of a list named c labeled with its element names")

In [3]:
c[0]

-45

In [4]:
c[4]

1543

### Determining a List’s Length

In [5]:
len(c)

5

### Accessing Elements from the End of the List with Negative Indices
* Lists can be accessed from the end by using _negative indices_:
![Diagram of the list c labeled with its negative indices](ch05images/AAEMYRO0_2.png "Diagram of the list c labeled with its negative indices")

In [6]:
c[-1]

1543

In [7]:
c[-5]

-45

### Indices Must Be Integers or Integer Expressions

In [8]:
a = 1

In [9]:
b = 2

In [10]:
c[a + b]

72

### Lists Are Mutable

In [11]:
c[4] = 17

In [12]:
c

[-45, 6, 0, 72, 17]

### Some Sequences Are Immutable
* Python’s string and tuple sequences are immutable.

In [13]:
s = 'hello'

In [14]:
s[0]

'h'

In [15]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

### Attempting to Access a Nonexistent Element
* Index values must be in range.

In [16]:
c[100]

IndexError: list index out of range

### Using List Elements in Expressions

In [17]:
c[0] + c[1] + c[2]

-39

### Appending to a List with +=
* Lists can grow dynamically to accommodate new items.

In [18]:
a_list = []

In [19]:
for number in range(1, 6):
    a_list += [number]

In [20]:
a_list

[1, 2, 3, 4, 5]

* When the left operand of `+=` is a list, the right operand must be an _iterable_; otherwise, a `TypeError` occurs.

In [21]:
letters = []

In [22]:
letters += 'Python'

In [23]:
letters

['P', 'y', 't', 'h', 'o', 'n']

### Concatenating Lists with +
* Can **concatenate** two lists, two tuples or two strings using `+` to create a _new_ sequence of the same type.

In [24]:
list1 = [10, 20, 30]

In [25]:
list2 = [40, 50]

In [26]:
concatenated_list = list1 + list2

In [27]:
concatenated_list

[10, 20, 30, 40, 50]

### Using `for` and `range` to Access List Indices and Values

In [28]:
for i in range(len(concatenated_list)):  
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

* We’ll show a safer way to access element indices and values using built-in function `enumerate`.

### Comparison Operators
* Can compare entire lists element-by-element.

In [29]:
a = [1, 2, 3]

In [30]:
b = [1, 2, 3]

In [31]:
c = [1, 2, 3, 4]

In [32]:
a == b

True

In [33]:
a == c

False

In [34]:
a < c

True

In [35]:
c >= b

True

# 5.3 Tuples

### Creating Tuples
* To create an empty tuple, use empty parentheses.

In [36]:
student_tuple = ()

In [37]:
student_tuple

()

In [38]:
len(student_tuple)

0

* Pack a tuple by separating its values with commas.

In [39]:
student_tuple = 'John', 'Green', 3.3

In [40]:
student_tuple

('John', 'Green', 3.3)

In [41]:
len(student_tuple)

3

* When you output a tuple, Python always displays its contents in parentheses.
* Parentheses are optional when creating a tuple.

In [42]:
another_student_tuple = ('Mary', 'Red', 3.3)

In [43]:
another_student_tuple

('Mary', 'Red', 3.3)

* A comma is required to create a one-element tuple.

In [44]:
a_singleton_tuple = ('red',)  # note the comma

In [45]:
a_singleton_tuple

('red',)

### Accessing Tuple Elements
* You generally access tuple elements directly rather than iterating over them.

In [46]:
time_tuple = (9, 16, 1)

In [47]:
time_tuple

(9, 16, 1)

In [48]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

### Adding Items to a String or Tuple
* `+=` can be used with strings and tuples, even though they’re _immutable_. 
* Creates new objects.

In [49]:
tuple1 = (10, 20, 30)

In [50]:
tuple2 = tuple1

In [51]:
tuple2

(10, 20, 30)

In [52]:
tuple1 += (40, 50)

In [53]:
tuple1

(10, 20, 30, 40, 50)

In [54]:
tuple2

(10, 20, 30)

 

### Appending Tuples to Lists

In [55]:
numbers = [1, 2, 3, 4, 5]

In [56]:
numbers += (6, 7)

In [57]:
numbers

[1, 2, 3, 4, 5, 6, 7]

   

### Tuples May Contain Mutable Objects

In [58]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

In [59]:
student_tuple[2][1] = 85

In [60]:
student_tuple

('Amanda', 'Blue', [98, 85, 87])

# 5.4 Unpacking Sequences
* Can unpack any sequence’s elements by assigning the sequence to a comma-separated list of variables (of the appropriate length).

In [61]:
student_tuple = ('Amanda', [98, 85, 87])

In [62]:
first_name, grades = student_tuple

In [63]:
first_name

'Amanda'

In [64]:
grades

[98, 85, 87]

In [65]:
first, second = 'hi'

In [66]:
print(f'{first}  {second}')

h  i

In [67]:
number1, number2, number3 = [2, 3, 5]

In [68]:
print(f'{number1}  {number2}  {number3}')

2  3  5

In [69]:
number1, number2, number3 = range(10, 40, 10)

In [70]:
print(f'{number1}  {number2}  {number3}')

10  20  30

### Swapping Values Via Packing and Unpacking

In [71]:
number1 = 99

In [72]:
number2 = 22

In [73]:
number1, number2 = (number2, number1)

In [74]:
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

### Accessing Indices and Values Safely with Built-in Function enumerate
* Preferred way to access an element’s index _and_ value is the built-in function **`enumerate`**. 
* Receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value.
* Built-in function **`list`** creates a list from a sequence.

In [75]:
colors = ['red', 'orange', 'yellow']

In [76]:
list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

* Built-in function **`tuple`** creates a tuple from a sequence.

In [77]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [78]:
for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

### Creating a Primitive Bar Chart

```python
# fig05_01.py
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')
```

In [79]:
run fig05_01.py

Creating a bar chart from numbers:
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

* The expression ```python
"*" * value
```
creates a string consisting of `value` asterisks. 
* When used with a sequence, the multiplication operator (`*`) _repeats_ the sequence.

# 5.5 Sequence Slicing
* Can **slice** sequences to create new sequences of the same type containing _subsets_ of the original elements. 
* Slice operations that do _not_ modify a sequence work identically for lists, tuples and strings.

### Specifying a Slice with Starting and Ending Indices

In [80]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [81]:
numbers[2:6]

[5, 7, 11, 13]

### Specifying a Slice with Only an Ending Index
* Starting index `0` is assumed.

In [82]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [83]:
numbers[0:6]

[2, 3, 5, 7, 11, 13]

### Specifying a Slice with Only a Starting Index
* Assumes the sequence's length as the ending index.

In [84]:
numbers[6:]

[17, 19]

In [85]:
numbers[6:len(numbers)]

[17, 19]

### Specifying a Slice with No Indices

In [88]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

* Though slices create new objects, slices make **shallow copies** of the elements.
* In the snippet above, the new list’s elements refer to the _same objects_ as the original list’s elements.

### Slicing with Steps

In [89]:
numbers[::2]

[2, 5, 11, 17]

### Slicing with Negative Indices and Steps

In [90]:
numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [91]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

### Modifying Lists Via Slices
* Can modify a list by assigning to a slice.

In [92]:
numbers[0:3] = ['two', 'three', 'five']

In [93]:
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [94]:
numbers[0:3] = []

In [95]:
numbers

[7, 11, 13, 17, 19]

In [96]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [97]:
numbers[::2] = [100, 100, 100, 100]

In [98]:
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [99]:
id(numbers)

4441400640

In [100]:
numbers[:] = []

In [101]:
numbers

[]

In [102]:
id(numbers)

4441400640

* Deleting `numbers`’ contents is different from assigning `numbers` a _new_ empty list `[]`. 
* Identities are different, so they represent separate objects in memory.

In [103]:
numbers = []

In [104]:
numbers

[]

In [105]:
id(numbers)

4441407744

* When you assign a new object to a variable, the original object will be **garbage collected** if no other variables refer to it.

# 5.6 del Statement

### Deleting the Element at a Specific List Index

In [106]:
numbers = list(range(0, 10))

In [107]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
del numbers[-1]

In [109]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Deleting a Slice from a List

In [110]:
del numbers[0:2]

In [111]:
numbers

[2, 3, 4, 5, 6, 7, 8]

In [112]:
del numbers[::2]

In [113]:
numbers

[3, 5, 7]

### Deleting a Slice Representing the Entire List

In [114]:
del numbers[:]

In [115]:
numbers

[]

### Deleting a Variable from the Current Session

In [116]:
del numbers

In [117]:
numbers

NameError: name 'numbers' is not defined

# 5.7 Passing Lists to Functions

### Passing an Entire List to a Function

In [118]:
def modify_elements(items):
    """"Multiplies all element values in items by 2."""
    for i in range(len(items)):
        items[i] *= 2

In [119]:
numbers = [10, 3, 7, 1, 9]

In [120]:
modify_elements(numbers)

In [121]:
numbers

[20, 6, 14, 2, 18]

### Passing a Tuple to a Function
* When you pass a tuple to a function, attempting to modify the tuple’s immutable elements results in a `TypeError`.

In [122]:
numbers_tuple = (10, 20, 30)

In [123]:
numbers_tuple

(10, 20, 30)

In [124]:
modify_elements(numbers_tuple)

TypeError: 'tuple' object does not support item assignment

### A Note Regarding Tracebacks
* A traceback shows code that led to an exception.
* When an exception occurs in a single-line snippet, it’s always preceded by `----> 1`, indicating that line 1 (the snippet’s only line) caused the exception. 
* Multiline snippets like a function definition show consecutive line numbers starting at 1. 
* The last line of code shown with `---->` caused the exception.

# 5.8 Sorting Lists

### Sorting a List in Ascending Order
* List method `sort` _modifies_ a list.

In [125]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [126]:
numbers.sort()

In [127]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Sorting a List in Descending Order

In [128]:
numbers.sort(reverse=True)

In [129]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Built-In Function `sorted`
* Built-in function **`sorted`** _returns a new list_ containing the sorted elements of its argument _sequence_—the original sequence is _unmodified_.

In [130]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [131]:
ascending_numbers = sorted(numbers)

In [132]:
ascending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [134]:
letters = 'fadgchjebi'

In [135]:
ascending_letters = sorted(letters)

In [136]:
ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [137]:
letters

'fadgchjebi'

In [138]:
colors = ('red', 'orange', 'yellow', 'green', 'blue')

In [139]:
ascending_colors = sorted(colors)

In [140]:
ascending_colors

['blue', 'green', 'orange', 'red', 'yellow']

In [141]:
colors

('red', 'orange', 'yellow', 'green', 'blue')

# 5.9 Searching Sequences
* **Searching** is the process of locating a particular **key** value.

### List Method index
* Searches through a list from index 0 and returns the index of the _first_ element that matches the search key.
* `ValueError` if the value is not in the list.

In [142]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]

In [143]:
numbers.index(5)

6

### Specifying the Starting Index of a Search

In [144]:
numbers *= 2

In [147]:
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [148]:
numbers.index(5, 7)

14

### Specifying the Starting and Ending Indices of a Search
* Look for the value `7` in the range of elements with indices `0` through `3`.

In [149]:
numbers.index(7, 0, 4)

1

### Operators `in` and `not in`
* Operator `in` tests whether its right operand’s iterable contains the left operand’s value.

In [150]:
1000 in numbers

False

In [151]:
5 in numbers

True

* Operator `not in` tests whether its right operand’s iterable does _not_ contain the left operand’s value.

In [152]:
1000 not in numbers

True

In [153]:
5 not in numbers

False

### Using Operator `in` to Prevent a `ValueError`

In [154]:
key = 1000

In [155]:
if key in numbers:
    print(f'found {key} at index {numbers.index(search_key)}')
else:
    print(f'{key} not found')

1000 not found

### Built-In Functions `any` and `all` 
* Built-in function **`any`** returns `True` if any item in its iterable argument is `True`. 
* Built-in function **`all`** returns `True` if all items in its iterable argument are `True`. 
* Nonzero values are `True` and 0 is `False`. 
* Non-empty iterable objects also evaluate to `True`, whereas any empty iterable evaluates to `False`.
* Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.

In [158]:
mylist = [1,2,1,9,100]
any(mylist)

True

In [159]:
all(mylist)

True

# 5.10 Other List Methods

In [160]:
color_names = ['orange', 'yellow', 'green']

### Inserting an Element at a Specific List Index

In [161]:
color_names.insert(0, 'red')

In [162]:
color_names

['red', 'orange', 'yellow', 'green']

### Adding an Element to the End of a List

In [163]:
color_names.append('blue')

In [164]:
color_names

['red', 'orange', 'yellow', 'green', 'blue']

### Adding All the Elements of a Sequence to the End of a List
* Equivalent to `+=`.

In [165]:
color_names.extend(['indigo', 'violet'])

In [166]:
color_names

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [167]:
sample_list = []

In [168]:
s = 'abc'

In [169]:
sample_list.extend(s)

In [170]:
sample_list

['a', 'b', 'c']

In [171]:
t = (1, 2, 3)

In [172]:
sample_list.extend(t)

In [173]:
sample_list

['a', 'b', 'c', 1, 2, 3]

* Parentheses are required for the tuple argument below, because `extend` expects **one iterable argument**.

In [174]:
sample_list.extend((4, 5, 6))  # note the extra parentheses

In [175]:
sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

### Removing the First Occurrence of an Element in a List 
* `ValueError` occurs if `remove`’s argument is not in the list.

In [176]:
color_names.remove('green')

In [177]:
color_names

['red', 'orange', 'yellow', 'blue', 'indigo', 'violet']

### Emptying a List

In [178]:
color_names.clear()

In [179]:
color_names

[]

### Counting the Number of Occurrences of an Item

In [180]:
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 
             1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

In [181]:
for i in range(1, 6):
    print(f'{i} appears {responses.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

### Reversing a List’s Elements
* Method **`reverse`** reverses the contents of a list in place.

In [182]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']

In [183]:
color_names.reverse()

In [184]:
color_names

['blue', 'green', 'yellow', 'orange', 'red']

### Copying a List
* Method `copy` returns a _new_ list containing a _shallow_ copy.

In [185]:
copied_list = color_names.copy()

In [186]:
copied_list

['blue', 'green', 'yellow', 'orange', 'red']

# 5.11 Simulating Stacks with Lists 
* Python does not have a built-in stack type.
* Can think of a stack as a constrained list. 
* _Push_ using list method `append`. 
* _Pop_ using list method **`pop`** with no arguments to get items in last-in, first-out (LIFO) order.

In [187]:
stack = []

In [188]:
stack.append('red')

In [189]:
stack

['red']

In [190]:
stack.append('green')

In [191]:
stack

['red', 'green']

In [192]:
stack.pop()

'green'

In [193]:
stack

['red']

In [194]:
stack.pop()

'red'

In [195]:
stack

[]

In [196]:
stack.pop()

IndexError: pop from empty list

* Also can use a list to simulate a **queue**.
* Items are retrieved from queues in **first-in, first-out (FIFO) order**.

# 5.12 List Comprehensions
* Concise way to create new lists. 
* Replaces using `for` to iterate over a sequence and create a list.

In [197]:
list1 = []

In [198]:
for item in range(1, 6):
    list1.append(item)

In [199]:
list1

[1, 2, 3, 4, 5]

### Using a List Comprehension to Create a List of Integers

In [200]:
list2 = [item for item in range(1, 6)]

In [201]:
list2

[1, 2, 3, 4, 5]

* **`for` clause** iterates over the sequence produced by `range(1, 6)`. 
* For each `item`, the list comprehension evaluates the expression to the left of the `for` clause and places the expression’s value in the new list.

### Mapping: Performing Operations in a List Comprehension’s Expression
* Mapping is a common functional-style programming operation that produces a result with the _same_ number of elements as the original data being mapped.

In [202]:
list3 = [item ** 3 for item in range(1, 6)]

In [203]:
list3

[1, 8, 27, 64, 125]

### Filtering: List Comprehensions with `if` Clauses 
* Another common functional-style programming operation is **filtering** elements to select only those that match a condition. 
* Typically produces a list with _fewer_ elements than the data being filtered.

In [204]:
list4 = [item for item in range(1, 11) if item % 2 == 0]

In [205]:
list4

[2, 4, 6, 8, 10]

### List Comprehension That Processes Another List’s Elements 
* The `for` clause can process any iterable.

In [206]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

In [207]:
colors2 = [item.upper() for item in colors]

In [208]:
colors2

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

In [209]:
colors

['red', 'orange', 'yellow', 'green', 'blue']

# 5.13 Generator Expressions
* Like list comprehensions, but create iterable **generator objects** that produce values **on demand**. 
* Known as **lazy evaluation**. 
* For large numbers of items, creating lists can take substantial memory and time. 
* **Generator expressions** can reduce memory consumption and improve performance if the whole list is not needed at once.

In [210]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [211]:
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end='  ')

9  49  1  81  25

In [217]:
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)

In [218]:
squares_of_odds

* Output indicates that `square_of_odds` is a **generator object** that was created from a **generator expression (`<genexpr>`)**.
* **Built-in function `next`** receives a generator or iterator and returns the next item.

In [219]:
#execute this cell multiple times .. see what happens!
next(squares_of_odds)
next(squares_of_odds)

49

In [221]:
def is_prime(num):
    assert num > 1  # technically 1 is not prime

    for i in range(2, int(num/2)+1):
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            return False
    return True

In [222]:
is_prime(57)

False

In [223]:
# function to generate a list of primes

def gen_list_of_primes(max):
    
    prime_list = []
    
    for num in range(2,max):
        if is_prime(num):
            prime_list.append(num)
        
    return prime_list

In [225]:
# let's do some timing
import time
num = 100000

tic = time.perf_counter()

p_list = gen_list_of_primes(num)

toc = time.perf_counter()

print(f"Primes to {num} computed in  {toc - tic:0.4f} seconds")
#print (p_list)

Primes to 100000 computed in  6.5231 seconds

# Let's see how fast a Generator can do it

In [253]:
tic = time.perf_counter()
p_list2 = (x for x in range(2,num) if is_prime(x))
toc = time.perf_counter()

print(f"Primes to {num} computed by GENERATOR in  {toc - tic:0.4f} seconds")
print(p_list2)

Primes to 100000 computed by GENERATOR in  0.0001 seconds
<generator object <genexpr> at 0x108c94820>

In [227]:
for n in p_list2:
    print (next(p_list2))
    if n > 100:
        break

3
7
13
19
29
37
43
53
61
71
79
89
101
107

# 5.14 Filter, Map and Reduce 
* Built-in `filter` and `map` functions also perform filtering and mapping.

### Filtering a Sequence’s Values with the Built-In `filter` Function

In [228]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [229]:
def is_odd(x):
    """Returns True only if x is odd."""
    return x % 2 != 0

In [230]:
list(filter(is_odd, numbers))

[3, 7, 1, 9, 5]

* Functions are objects that you can assign to variables, pass to other functions and return from functions. 
* Functions that receive other functions as arguments are a functional-style capability called **higher-order functions**. 
* `filter`’s first argument must be a function that receives one argument and returns `True` if the value should be included in the result. 
* Higher-order functions may also return a function as a result.
* `filter` returns an iterator, so `filter`’s results are not produced until you iterate through them&mdash;lazy evaluation.

In [231]:
[item for item in numbers if is_odd(item)]

[3, 7, 1, 9, 5]

### Using a `lambda` Rather than a Function 
* For simple functions like `is_odd` that `return` only a _single expression’s value_, you can use a **lambda expression** (or simply a **lambda**) to define the function inline.

In [232]:
list(filter(lambda x: x % 2 != 0, numbers))

[3, 7, 1, 9, 5]

* A lambda expression is an _anonymous function
* Begins with the **`lambda`** keyword followed by a comma-separated parameter list, a colon (`:`) and an expression. 
* A `lambda` _implicitly_ returns its expression’s value.

### Mapping a Sequence’s Values to New Values

In [233]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [234]:
list(map(lambda x: x ** 2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

* Function `map`’s first argument is a function that receives one value and returns a new value.
* equivalent list comprehension:

In [235]:
[item ** 2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

### Combining `filter` and `map`

In [236]:
list(map( , 
         filter(lambda x: x % 2 != 0, numbers)))

[9, 49, 1, 81, 25]

* Equivalent list comprehension:

In [237]:
[x ** 2 for x in numbers if x % 2 != 0]

[9, 49, 1, 81, 25]

### Reduction: Totaling the Elements of a Sequence with `sum` 
* Reductions process a sequence’s elements into a single value. 
    * E.g., `len`, `sum`, `min` and `max`. 
* Can create custom reductions using the [`functools` module](https://docs.python.org/3/library/functools.html)’s `reduce` function.

# 5.15 Other Sequence Processing Functions

### Finding the Minimum and Maximum Values Using a Key Function

In [238]:
'Red' < 'orange'

True

* `'R'` “comes after” `'o'` in the alphabet, so you might expect `'Red'` to be less than `'orange'` and the condition above to be `False`. 
* Strings are compared by their characters’ underlying _numerical values_, and lowercase letters have _higher_ numerical values than uppercase letters. 
* Confirm with built-in function **`ord`**:

In [239]:
ord('R')

82

In [240]:
ord('o')

111

In [241]:
colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']

* Assume that we’d like to determine the minimum and maximum strings using _alphabetical_ order.
* Can specify sort order with the `key` argument.

In [242]:
min(colors, key=lambda s: s.lower())

'Blue'

In [243]:
max(colors, key=lambda s: s.lower())

'Yellow'

### Iterating Backwards Through a Sequence

In [244]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [245]:
reversed_numbers = [item ** 2 for item in reversed(numbers)]

In [246]:
reversed_numbers

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

### Combining Iterables into Tuples of Corresponding Elements
* Built-in function **`zip`** enables you to iterate over _multiple_ iterables of data at the _same_ time. 
* Receives any number of iterables and returns an iterator that produces tuples containing the elements at the same index in each.

In [247]:
names = ['Bob', 'Sue', 'Amanda']

In [248]:
grade_point_averages = [3.5, 4.0, 3.75]

In [249]:
for name, gpa in zip(names, grade_point_averages):
    print(f'Name={name}; GPA={gpa}')

Name=Bob; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75

* Shortest argument determines the number of tuples produced.

# 5.16 Two-Dimensional Lists
* Lists can contain other lists as elements. 
* Typical use is to represent **tables** of values consisting of information arranged in **rows** and **columns**. 
* To identify a particular table element, we specify _two_ indices—the first identifies the element’s row, the second the element’s column.

### Creating a Two-Dimensional List

In [250]:
a = [[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]

Writing the list as follows makes its row and column tabular structure clearer:

```python
a = [[77, 68, 86, 73],  # first student's grades
     [96, 87, 89, 81],  # second student's grades 
     [70, 90, 86, 81]]  # third student's grades
```

### Illustrating a Two-Dimensional List

![The two-dimensional list 'a' with its rows and columns of exam grade values](ch05images/AAHBDOV0_2.png "The two-dimensional list 'a' with its rows and columns of exam grade values")

### Identifying the Elements in a Two-Dimensional List

![The two-dimensional list 'a' labeled with the names of its elements](ch05images/AAHBDOV0.png "The two-dimensional list 'a' labeled with the names of its elements")

* Output the rows of the preceding two-dimensional list.

In [251]:
for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 68 86 73
96 87 89 81
70 90 86 81

### How the Nested Loops Execute

In [252]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item} ', end=' ')
    print()

a[0][0]=77  a[0][1]=68  a[0][2]=86  a[0][3]=73
a[1][0]=96  a[1][1]=87  a[1][2]=89  a[1][3]=81
a[2][0]=70  a[2][1]=90  a[2][2]=86  a[2][3]=81

* Outer `for` statement iterates over the  list’s ows one row at a time. 
* During each iteration of the outer `for` statement, the inner `for` statement iterates over _each_ column in the current row.